<div style="min-width: 824px">
    <div class="uk-child-width-1-1 uk-grid-collapse">
        {%- unless include.book.no_cover -%}
        {%- capture pagePath -%}
        /assets/images/book/{{include.book.path}}/cover.png
        {%- endcapture -%}
        <div class="uk-width-1-2 uk-margin book-page-html">
            <img src="{{pagePath}}" alt=""/>
        </div>
        {%- endunless -%}
        {%- assign titleIndex = 0 -%}
        {%- assign titleCount = include.book.titles | size -%}
        {%- for pageIndex in (0..include.book.max_page) -%}
        {%- if titleIndex < titleCount and include.book.titles[titleIndex].index == pageIndex -%}
    </div>
    <h3 id="{{ include.book.titles[titleIndex].link | default: include.book.titles[titleIndex].text | slugify }}">{{ include.book.titles[titleIndex].text }}</h3>
    <div class="uk-child-width-1-1 uk-grid-collapse">
        {%- assign titleIndex = titleIndex | plus: 1 -%}
        {%- endif -%}
        {%- capture pagePath -%}
        /assets/images/book/{{include.book.path}}/clean_{{pageIndex}}.png
        {%- endcapture -%}
        <div class="uk-width uk-margin mc-font-black book-page-html">
            <img src="{{pagePath}}" alt=""/>
            {% include book/{{include.book.path}}/page_{{pageIndex}}.html %}
        </div>
        {%- endfor -%}
    </div>
</div>
