{% assign type = include.type | downcase %}{%
   
assign field = site.data.fields[type] %}{%
if field %}{%
    assign typeName = include.type | capitalize %}{%
    assign name = field.name | default: typeName %}{%
    assign icon = field.icon | default: "nbt-compound" %}{%
    assign link = field.link | default: "" %}{%

elsif type contains "predicate" %}{%
    assign name = include.type %}{%
    assign icon = "nbt-compound" %}{%
    assign link = "/docs/json/predicates" %}{%

elsif type contains "id" %}{%
    assign name = include.type %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/resource-location#registry-ids" %}{%

elsif type contains "tag" %}{%
    assign name = include.type %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/resource-location#tag-name" %}{%

else %}{%
    assign name = include.type %}{%
    assign icon = "nbt-compound" %}{%
    assign link = "" %}{%
endif 
%}<span class="nbt-icon {{icon}}">{%

if include.name
    %}<tt><b>{{include.name}}</b></tt> {%
endif %}{%

if include.link or link != ""
    %}(<a href="{{include.link | default: link}}">{{name}}</a>{%
else
    %}({{name}}{%
endif %}{%
if include.version %}, {{include.version}}{%
endif %}):</span>