{% assign link = "" %}{%
if include.type == "integer" or include.type == "int" %}{%
    assign name = "Integer" %}{%
    assign icon = "nbt-int" %}{%
elsif include.type == "number" %}{%
    assign name = "Number" %}{%
    assign icon = "nbt-float" %}{%
elsif include.type == "boolean" %}{%
    assign name = "Boolean" %}{%
    assign icon = "nbt-bool" %}{%
elsif include.type == "string" %}{%
    assign name = "String" %}{%
    assign icon = "nbt-string" %}{%
elsif include.type == "array" or include.type == "list" %}{%
    assign name = "Array" %}{%
    assign icon = "nbt-list" %}{%
elsif include.type == "object" or include.type == "compound" %}{%
    assign name = "Object" %}{%
    assign icon = "nbt-compound" %}{%

elsif include.type == "color" or include.type == "rgb" %}{%
    assign name = "RGB Color" %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/basic-types#color" %}{%

elsif include.type == "argb" %}{%
    assign name = "ARGB Color" %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/basic-types#color" %}{%

elsif include.type == "resource location" %}{%
    assign name = "Resource Location" %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/basic-types#resource-location" %}{%

elsif include.type contains "ID" %}{%
    assign name = include.type %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/basic-types#registry-ids" %}{%

else %}{%
    assign name = include.type %}{%
    assign icon = "nbt-compound" %}{%
endif 
%}<span class="nbt-icon {{icon}}">{%

if include.name
    %}<tt><b>{{include.name}}</b></tt> {%
endif %}{%

if include.link or link != ""
    %}(<a href="{{include.link | default: link}}">{{name}}</a>):{%
else
    %}({{name}}):{%
endif
%}</span>