{% assign link = "" %}{%
   assign type = include.type | downcase %}{%
if type == "integer" or type == "int" %}{%
    assign name = "Integer" %}{%
    assign icon = "nbt-int" %}{%
elsif type == "number" or type == "float" %}{%
    assign name = "Number" %}{%
    assign icon = "nbt-float" %}{%
elsif type == "boolean" %}{%
    assign name = "Boolean" %}{%
    assign icon = "nbt-bool" %}{%
elsif type == "string" %}{%
    assign name = "String" %}{%
    assign icon = "nbt-string" %}{%
elsif type == "array" or type == "list" %}{%
    assign name = "Array" %}{%
    assign icon = "nbt-list" %}{%
elsif type == "object" or type == "compound" %}{%
    assign name = "Object" %}{%
    assign icon = "nbt-compound" %}{%
elsif type == "any" %}{%
    assign name = "Any" %}{%
    assign icon = "nbt-any" %}{%
elsif type == "null" %}{%
    assign name = "Null" %}{%
    assign icon = "nbt-null" %}{%

elsif type == "color" or type == "rgb" %}{%
    assign name = "RGB Color" %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/basic-types#color" %}{%

elsif type == "argb" %}{%
    assign name = "ARGB Color" %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/basic-types#color" %}{%

elsif type == "condition" %}{%
    assign name = "Condition" %}{%
    assign icon = "nbt-compound" %}{%
    assign link = "/docs/json/conditions" %}{%

elsif type == "resource location" %}{%
    assign name = "Resource Location" %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/basic-types#resource-location" %}{%
    
elsif type == "material id" %}{%
    assign name = "Material ID" %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/materials" %}{%
    
elsif type == "stat type id" %}{%
    assign name = "Stat Type ID" %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/stat-types" %}{%
    
elsif type contains "id" %}{%
    assign name = include.type %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/basic-types#registry-ids" %}{%

elsif type contains "tag" %}{%
    assign name = include.type %}{%
    assign icon = "nbt-string" %}{%
    assign link = "/docs/json/basic-types#tag-name" %}{%

else %}{%
    assign name = include.type %}{%
    assign icon = "nbt-compound" %}{%
endif 
%}<span class="nbt-icon {{icon}}">{%

if include.name
    %}<tt><b>{{include.name}}</b></tt> {%
endif %}{%

if include.link or link != ""
    %}(<a href="{{include.link | default: link}}">{{name}}</a>):{%
else
    %}({{name}}):{%
endif
%}</span>