<div class="uk-card uk-card-default uk-card-body uk-card-hover uk-card-small">
    <div uk-grid data-uk-grid-margin class="">
        <div class="uk-width-1-1@s uk-width-1-4@m uk-text-center">
            <img src="/assets/images/projects/{{include.name}}.png"/>
        </div>
        <div class="uk-width-1-1@s uk-width-1-2@m">
            <h3 id="{{include.name}}" class="project-title">{{include.title | default: include.name}}</h3>
            <p>{{include.description}}</p>
        </div>
        <div class="uk-width-1-1@s uk-width-1-4@m project-links">
            <a href="https://www.curseforge.com/minecraft/mc-mods/{{include.curseforge | default: include.name}}" 
               class="uk-width-1-1 uk-button uk-button-success uk-button-small uk-text-bold">
                CurseForge
            </a>
            {% unless include.modrinth == false %}
                <a href="https://modrinth.com/mod/{{include.modrinth | default: include.name}}"
                   class="uk-width-1-1 uk-button uk-button-success uk-button-small uk-text-bold">
                    Modrinth
                </a>
            {% endunless %}
            {% assign github-author = include.github-author | default: "SlimeKnights" %}
            {% assign github-project = include.github | default: include.name %}
            {% assign github-url = "https://github.com/" | append: github-author | append: "/" | append: github-project %}
            {% unless include.inactive %}
                <a href="{{github-url}}/issues"
                   class="uk-width-1-1 uk-button uk-button-danger uk-button-small">
                    Report a Bug
                </a>
            {% endunless %}
            <a href="{{github-url}}"
               class="uk-width-1-1 uk-button uk-button-default uk-button-small">
                Source Code
            </a>
        </div>
    </div>
</div>