{% assign type = include.type | downcase %}{%
   
assign field = site.data.fields[type] %}{%
if field %}{%
    assign typeName = include.type | capitalize %}{%
    assign name = field.name | default: typeName %}{%
    assign link = field.link | default: "" %}{%

elsif type contains "predicate" %}{%
    assign name = include.type %}{%
    assign link = "/docs/json/predicates" %}{%

elsif type contains "id" %}{%
    assign name = include.type %}{%
    assign link = "/docs/json/resource-location#registry-ids" %}{%

elsif type contains "tag" %}{%
    assign name = include.type %}{%
    assign link = "/docs/json/tags#tag-name" %}{%

else %}{%
    assign name = include.type %}{%
    assign link = "" %}{%
endif %}{%
if include.lowercase %}{%
    assign name = name | downcase %}{%
endif %}{%
if include.name
%}<a href="{{link}}">{{include.name}}</a>{%
else
%}<a href="{{link}}">{{name}}</a>{%
endif %}