/* Icon sheet from https://minecraft.wiki/w/Template:nbt */
.nbt-icon {
    padding-left: 3px;    
    &::before {
        content: " ";
        image-rendering: pixelated;
        top: 3px;
        left: -2px;
        height: 16px;
        width: 16px;
        display: inline-block;
        position: relative;
        background-image: url(/assets/images/nbt-sprites.png);
        background-size: 64px auto;
        background-repeat: no-repeat;
        background-position: -16px -48px;
    }

    &.nbt-any::before, &.nbt-null::before {
        background-position: -16px -48px;
    }
    &.nbt-bool::before, &.nbt-boolean::before {
        background-position: -48px -32px;
    }
    &.nbt-byte::before {
        background-position: 0px 0px;
    }
    &.nbt-short::before {
        background-position: -16px -16px;
    }
    &.nbt-int::before, &.nbt-integer::before {
        background-position: -48px 0px;
    }
    &.nbt-long::before {
        background-position: 0px -16px;
    }
    &.nbt-float::before {
        background-position: -32px 0px;
    }
    &.nbt-double::before {
        background-position: -16px 0px;
    }
    &.nbt-byte-array::before {
        background-position: 0px -32px;
    }
    &.nbt-int-array::before {
        background-position: -16px -32px;
    }
    &.nbt-long-array::before {
        background-position: 0px -48px;
    }
    &.nbt-string::before {
        background-position: -32px -16px;
    }
    &.nbt-list::before {
        background-position: -32px -32px;
    }
    &.nbt-compound::before {
        background-position: -48px -16px;
    }
}