---
layout: default
---
<article class="post">
  <header class="post-header">
    {% include breadcrumbs.html %}
    {% assign book = site.data.books[page.book] %}
    <h1 class="post-title">{{ book.title | default: page.title | escape }}</h1>
    {% assign prev = book.previous | default: page.previous %}
    {% assign nxt = book.next | default: page.next %}
    {% if prev or nxt %}
      {% if page.layout == "book-html" or page.layout == "book-cover-html" %}
        {% include navigation.html previous=prev next=nxt html=1 %}
      {% else %}
        {% include navigation.html previous=prev next=nxt %}
      {% endif %}
    {% endif %}
  </header>
  <div class="post-content">
    {{ content }}
  </div>
</article>